.horizontal-content {
    display: flex;
    overflow: scroll;
    /*You need this shit for hiding it in firefox*/
    scrollbar-width: none;
}

/*For other browsers, do both to remove scrollbar*/
.horizontal-content::webkit-scrollbar {
    background: transparent;
    width: 0;
}

.horizontal-content div {
    background-color: #3f1917;
    height: 187px;
    /*width: 330px;*/
    flex: 0 0 330px;
    margin: 1rem 0.5rem;
}

.parallax-image {
    background-image: url(../img/movie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 500px;
}